<h4 class="h4 mb-3 text-dark">Streamline Your Hiring Process</h4>
<span class="fs-5 text-secondary">
    <strong>CV Shortlist</strong> is the AI-powered web portal designed to help professional recruiters and HR
    departments streamline their hiring process. The most intensive step of candidate selection is the effective
    shortlisting of suitable candidates, out of a large pool of applications. The value proposition of
    <strong>CV Shortlist</strong> is to reliably and efficiently select from among hundreds or thousands of candidate
    applications in an automated way.
</span>

<h4 class="h4 mt-4 mb-3 text-dark">Powered by Advanced AI</h4>
<span class="fs-5 text-secondary">
    <strong>CV Shortlist</strong> relies on modern and powerful AI technology to perform the candidate CVs shortlisting:
</span>
<div class="row mt-1 g-3">
    <div class="col-md-6">
        <div class="card h-100 border-primary border-opacity-25 shadow-sm">
            <div class="card-body">
                <h5 class="card-title text-primary">
                    Microsoft Azure Document Intelligence
                </h5>
                <span class="card-text text-muted fs-5">
                    Extracting candidate information from PDF files, with full comprehension of complex layouts
                    involving tables and columns
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card h-100 border-success border-opacity-25 shadow-sm">
            <div class="card-body">
                <h5 class="card-title text-success">
                    OpenAI GPT-5
                </h5>
                <span class="card-text text-muted fs-5">Analyzing the extracted candidate data, matching it to the job
                    opening description, and producing the shortlisting
                </span>
            </div>
        </div>
    </div>
</div>

<h4 class="h4 mt-4 mb-3 text-dark">Social Service and Community Support</h4>
<span class="fs-5 text-secondary">
    <strong>CV Shortlist</strong> does now and will always provide a <strong>free 'Candidate Tier'</strong> subscription
    for candidates looking for a job. People on a job hunt in today's fierce and unforgiving job market have enough on
    their minds, without having to worry about paying subscription fees.
</span>
